
$primaryTextColor: #010101 !default;
$secondaryTextColor: #a4a4a4 !default;
$primaryBackgroundColor: #f7f7f7 !default;
$secondaryBackgroundColor: #ececec !default;
$primaryBorderColor: #979797 !default;