.c-submit-nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    background-color: $primaryBackgroundColor;
    border: 1px solid $secondaryBackgroundColor;
    border-radius: 5px;
    &__box{
        padding: 25px;
        border: 1px solid $primaryBorderColor;
        border-radius: 5px;
        background-color: $secondaryBackgroundColor;
        margin-right: 25px;
    }
    &__text{
        font-size: 26px;
        font-weight: bold;
    }
}